# PostgreSQL
POSTGRES_DB=configservice
POSTGRES_USER=configuser
POSTGRES_PASSWORD=changeme_strong_password
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme_grafana_password

# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=changeme_pgadmin_password
